/* frontend/src/App.css */

.counter{
  background-color: rgb(44, 35, 53);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-left: 30vw;
 padding: 30px;
 border: 10px solid plum;
 border-radius: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
h1{
  color: #f8f7f7;
}

p {
  font-size: 16px;
  color: #f8f7f7;
}

